@using WebPortalEverthing.Models.LoadTesting
@using WebPortalEverthing.Services
@using WebPortalEverthing.Services.LoadTesting
@inject LoadAuthService loadAuthService
@inject LoadUserService loadUserService
@using WebPortalEverthing.Models.LoadTesting.Admin
@model LoadAdminViewModel


@{
    Layout = "~/Views/Shared/LoadTesting/_LayoutLoadTesting.cshtml";
}

<div class="load-users">
    <h1>Users</h1>
    @foreach( var user in Model.LoadUsers )
    {
        <div>
            Login: @user.Login
            @foreach( var role in user.Roles )
            {
                <span class="role">@role</span>
            }

            <form action="/LoadAdminController/UpdateRole">
                @Html.Hidden("userId", user.Id)

                <span class="roles">
                    @foreach( var role in Model.Roles )
                    {
                        <label class="role">
                            @role.Text
                            <input name="role" type="checkbox" value="@role.Value" />
                        </label>
                    }
                    <button>Edit Permissions</button>
                </span>
            </form>
        </div>
    }
</div>
