@using WebPortalEverthing.Models.LoadTesting
@using WebPortalEverthing.Services
@using WebPortalEverthing.Services.LoadTesting
@using Enums.Users
@inject LoadAuthService loadAuthService
@inject LoadUserService loadUserService
@using WebPortalEverthing.Models.LoadTesting.Admin
@model LoadAdminViewModel


@{
    Layout = "~/Views/Shared/LoadTesting/_LayoutLoadTesting.cshtml";
}

<div class="load-users">
    <div class="users">Users</div>
    @foreach( var user in Model.LoadUsers )
    {
        @if( User.Identity?.IsAuthenticated ?? false )
        {
            <div class="language">
                <div class="title">Сменить язык пользователя</div>
                <a class="nav-link" href="/LoadAdmin/UpdateLocale?language=@Language.Ru">Рус</a>
                <a class="nav-link" href="/LoadAdmin/UpdateLocale?language=@Language.En">Eng</a>
            </div>
        }
        <div>
            Login: @user.Login
            @foreach( var role in user.Roles )
            {
                <span class="role">@role</span>
            }

            <form action="/LoadAdminController/UpdateRole">
                @Html.Hidden("userId", user.Id)

                <span class="roles">
                    @foreach( var role in Model.Roles )
                    {
                        <label class="role">
                            @role.Text
                            <input name="role" type="checkbox" value="@role.Value" />
                        </label>
                    }
                    <button>Edit Permissions</button>
                </span>
            </form>
        </div>
    }
</div>
