@using WebPortalEverthing.Models.Cake
@model List<CakeViewModel>
@{
    Layout = "~/Views/Shared/_LayoutCake.cshtml";
}

@foreach (var cake in Model)
{
    <div class="card">
        <img src="@cake.ImageSrc" alt="cake">
        <div class="text-wrapper">
            <h1 class="name">@cake.Name</h1>
            <p class="cake_desc">@cake.Description</p>
            <h1 class="magazins">Magazins</h1>
            @{
                if (cake.Magazins.Count == 0)
                {
                    <p class="list-magazins">Not in stores</p>
                }
                else
                {
                    foreach (var magazin in cake.Magazins)
                    {
                        <span class="list-magazins">@magazin.Name </span>
                    }
                }
            }
            <p class="price">@cake.Price BYN</p>
        </div>
    </div>
}