@using WebPortalEverthing.Localizations
@model WebPortalEverthing.Models.CakeLink.CakeAndMagazinLinkViewModel

@{
    Layout = "~/Views/Shared/_LayoutCake.cshtml";
}

<form method="post">
    <table>
        <tr>
            <th>@Cake.Link_Cakes</th>
            <th>@Cake.Link_Magazins</th>
            <th>@Cake.Link_Link</th>
        </tr>
        <tr>
            <td>
                @Html.DropDownListFor(x => x.CakeId, Model.Cakes)
            </td>
            <td>
                @Html.DropDownListFor(x => x.MagazinId, Model.Magazins)
            </td>
            <td>
                <button type="submit">@Cake.Link_Link</button>
            </td>
        </tr>
    </table>
</form>