@using WebPortalEverthing.Models.Cake.MyCreation
@model MyCreationViewModel

@{
    Layout = "~/Views/Shared/_LayoutCake.cshtml";
}

<table>
    <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Description</th>
        <th>Price</th>
        <th>Delete</th>
    </tr>
    @foreach (var cake in Model.Cakes)
    {
        <tr>
            <td>
                <form method="post" action="/Cake/UpdateName">
                    <input name="id" value="@cake.Id" type="hidden" />
                    <input name="newName" value="@cake.Name" />
                    <button type="submit">upd</button>
                </form>
            </td>
            <td>
                <form method="post" action="/Cake/UpdateImage">
                    <input name="id" value="@cake.Id" type="hidden" />
                    <input name="newImage" value="@cake.ImageSrc" />
                    <button type="submit">upd</button>
                </form>
            </td>
            <td>
                <form method="post" action="/Cake/UpdateDescription">
                    <input name="id" value="@cake.Id" type="hidden" />
                    <input name="newDescription" value="@cake.Description" />
                    <button type="submit">upd</button>
                </form>
            </td>
            <td>
                <form method="post" action="/Cake/UpdatePrice">
                    <input name="id" value="@cake.Id" type="hidden" />
                    <input name="newPrice" value="@cake.Price" />
                    <button type="submit">upd</button>
                </form>
            </td>
            <td>
                <a class="tag" href="/Cake/Remove?id=@cake.Id">Delete</a>
            </td>
        </tr>
    }
</table>
<table>
    <tr>
        <th>Name</th>
        <th>Delete</th>
    </tr>
    @foreach (var magazin in Model.Magazins)
    {
        <tr>
            <td>
                <form method="post" action="/Magazin/UpdateName">
                    <input name="id" value="@magazin.Id" type="hidden" />
                    <input name="newName" value="@magazin.Name" />
                    <button type="submit">upd</button>
                </form>
            </td>
            <td>
                <a class="tag" href="/Magazin/Remove?id=@magazin.Id">Delete</a>
            </td>
        </tr>
    }
</table>