@using WebPortalEverthing.Models.Cake.MyCreation
@using WebPortalEverthing.Localizations
@model MyCreationViewModel

@{
    Layout = "~/Views/Shared/_LayoutCake.cshtml";
}

<table>
    <tr>
        <th>@Cake.My_Creation_Name</th>
        <th>@Cake.My_Creation_Image</th>
        <th>@Cake.My_Creation_Description</th>
        <th>@Cake.My_Creation_Price</th>
        <th>@Cake.My_Creation_Delete</th>
    </tr>
    @foreach (var cake in Model.Cakes)
    {
        <tr>
            <td>
                <form method="post" action="/Cake/UpdateName">
                    <input name="id" value="@cake.Id" type="hidden" />
                    <input name="newName" value="@cake.Name" />
                    <button type="submit">@Cake.My_Creation_Update</button>
                </form>
            </td>
            <td>
                <form method="post" action="/Cake/UpdateImage" enctype="multipart/form-data">
                    <input name="id" value="@cake.Id" type="hidden" />
                    <input name="pathOldImage" value="@cake.ImageSrc" type="hidden" />
                    <input name="newImage" type="file"  />
                    <button type="submit">@Cake.My_Creation_Update</button>
                </form>
            </td>
            <td>
                <form method="post" action="/Cake/UpdateDescription">
                    <input name="id" value="@cake.Id" type="hidden" />
                    <input name="newDescription" value="@cake.Description" />
                    <button type="submit">@Cake.My_Creation_Update</button>
                </form>
            </td>
            <td>
                <form method="post" action="/Cake/UpdatePrice">
                    <input name="id" value="@cake.Id" type="hidden" />
                    <input name="newPrice" value="@cake.Price" />
                    <button type="submit">@Cake.My_Creation_Update</button>
                </form>
            </td>
            <td>
                <a class="tag" href="/Cake/Remove?id=@cake.Id&pathOldImage=@cake.ImageSrc">@Cake.My_Creation_Delete</a>
            </td>
        </tr>
    }
</table>
<table>
    <tr>
        <th>@Cake.My_Creation_Name</th>
        <th>@Cake.My_Creation_Delete</th>
    </tr>
    @foreach (var magazin in Model.Magazins)
    {
        <tr>
            <td>
                <form method="post" action="/Magazin/UpdateName">
                    <input name="id" value="@magazin.Id" type="hidden" />
                    <input name="newName" value="@magazin.Name" />
                    <button type="submit">@Cake.My_Creation_Update</button>
                </form>
            </td>
            <td>
                <a class="tag" href="/Magazin/Remove?id=@magazin.Id">@Cake.My_Creation_Delete</a>
            </td>
        </tr>
    }
</table>