@model WebPortalEverthing.Models.AnimeReview.IndexAnimeReviewViewModel

@{
    Layout = "~/Views/Shared/_LayoutAnimeCatalog.cshtml";
}

@section Reviews
{
    <link href="~/css/AnimeCatalog/reviews.css" rel="stylesheet" />
}


<h1 class="pageName">Reviews</h1>
<div class="reviews">
    @foreach (var index in Model.Index)
    {
        <div class="anime">
            <div class="imageName">
                @index.Anime.Name
            </div>
            <div class="animeImage">
                <img src="@index.Anime.ImgSrc" />
            </div>
            <div class="topReviews">
                @foreach (var review in index.Reviews)
                {
                    <div class="review">
                        <span>@review.Review : @review.UserName</span>
                    </div>
                }
            </div>
            <form method="post" asp-action="CreateReviewAndLinktoAnime">
                <input type="hidden" name="animeId" value="@index.Anime.Id" />
                <div>
                    @Html.TextBoxFor(x => x.NewReview.Review, new { placeholder = "Enter your review" })
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    }
</div>
