@using WebPortalEverthing.Services
@using WebPortalEverthing.Services.LoadTesting
@using WebPortalEverthing.Localizations
@inject LoadAuthService loadAuthService
@inject LoadUserService loadUserService

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Load Testing</title>
    <link href="~/css/LoadTesting/reset.css" rel="stylesheet" />
    <link href="~/css/LoadTesting/fire-fon.css" rel="stylesheet" />
    <link href="~/css/LoadTesting/style.css" rel="stylesheet" />
    <link href="~/css/LoadTesting/button-list.css" rel="stylesheet" />
    <link href="~/css/LoadTesting/avatar.css" rel="stylesheet" />
    <link href="~/css/LoadTesting/discription-tipes.css" rel="stylesheet" />
    <link href="~/css/LoadTesting/create-metric-form.css" rel="stylesheet" />
    <link href="~/css/LoadTesting/create-profile-form.css" rel="stylesheet" />
    <link href="~/css/LoadTesting/GameLife/game-life.css" rel="stylesheet" />
    <link href="~/css/LoadTesting/GameLife/own-size-form-container.css" rel="stylesheet" />
    <link href="~/css/LoadTesting/inputUpdateMetric.css" rel="stylesheet" />
    <link href="~/css/LoadTesting/createLoadVolume.css" rel="stylesheet" />
    <link href="~/css/LoadTesting/login-form.css" rel="stylesheet" />
    <link href="~/css/LoadTesting/registration-form.css" rel="stylesheet" />
    <link href="~/css/LoadTesting/name-user-auth-and-coins.css" rel="stylesheet" />
    <link href="~/css/LoadTesting/loadUserProfile.css" rel="stylesheet" />
    <link href="~/css/LoadTesting/load-users.css" rel="stylesheet" />

</head>
<body>
    <div class="header">
        <div class="logo-header">
            <img src="~/images/LoadTesting/logo.jpg" alt="logo-header" />
        </div>
        <div class="name">LOAD TESTING</div>
        <div class="profile-blok">
            <div class="avatar">
                <a href="/LoadTesting/LoadUserProfile">
                    <img src="@loadUserService.GetAvatar()" alt="avatar-img" class="avatar-image" />
                </a>

            </div>
            <div class="name-user-auth">
                Привет, @loadAuthService.GetName()
                <div> Role: @loadAuthService.GetRoleStr()</div>
                <div class="name-user-auth-coins">
                    Количество монет
                    <div class="coin-icon">@loadAuthService.GetUserCoins() </div>

                </div>

            </div>
            <div class="login-button">
                <a class="login-button-registration" asp-area="" asp-controller="LoadAuth" asp-action="RegistrationLoadUserView">@LoadStuffs.Registration</a>
                <a class="login-button-login" asp-area="" asp-controller="LoadAuth" asp-action="LoginLoadUserView">@LoadStuffs.Login</a>
            </div>
        </div>
    </div>

    <!-- Прозрачный фон под списком кнопок с переливающимся фоном -->
    <div class="fire-fon"></div>

    <div class="buttona-and-content"/>
    <div class="button-list">
        <div class="fridaysRemaining">
            <div>До нового года осталось</div>
            <span id="fridaysCount">0</span> пятниц_ц_ц !
        </div>
        <ul>
            <li>
                <a href="/Loadtesting/ContenMetricsListView" class="button">
                    <span>All metrics</span>
                </a>
            </li>
            <li>
                <a href="/Loadtesting/CreateProfileView" class="button">
                    <span>CreateProfile</span>
                </a>
            </li>
            <li>
                <a href="/Loadtesting/CreateProfileView" class="button">
                    <span>EditeProfile</span>
                </a>
            </li>
            <li>
                <a href="/GameLife/GameLifeOwnSize" class="button">
                    <span>GameLifeOwnSize</span>
                </a>
            </li>
            <li>
                <a href="/LoadVolumeTesting/IndexLoadVolumeView" class="button">
                    <span>All Load Volumies</span>
                </a>
            </li>
            <li>
                <a href="/LoadVolumeTesting/CreateloadVolumeView" class="button">
                    <span>Create LoadVolume</span>
                </a>
            </li>
            @if (loadAuthService.IsAdmin())
            {
                <li>
                    <a href="/LoadAdmin/LoadUsersView" class="button"><span>Load Users</span></a>
                </li>
            }
            <li>
                <a href="/LoadAdmin/LoadUsersByRolsView" class="button">
                    <span>LoadUsers By Rols</span>
                </a>
            </li>
        </ul>
        <form method="post">
            <div class="oval-form">
                <div class="input-container">
                    <div class="title">Закажи себе нагрузку на Новый год:</div>
                    <input type="text" name="name" placeholder="Name" value="NewYearLoad" required/>
                    <input type="text" name="throughput" placeholder="Throughput" required/>
                    <input type="text" name="average" placeholder="Average" required/>
                    <button type="submit">Создать</button>
                </div>
            </div>
        </form>
    </div>
    @RenderBody();
    <!-- Добавьте этот блок для рендеринга секции Scripts из \LoadTesting\GameLife\GameLifeDefault.cshtml -->
    @RenderSection("Scripts", required: false)
    <div></div>
    <!-- Закрытие блока .content -->
    <div></div>
    <!-- Закрытие блока .buttona-and-content -->

    </body>
</html>
<script>
    function countFridaysUntilNewYear() {
        // Текущая дата
        let today = new Date();

        // Дата наступления Нового Года (31 декабря текущего года)
        let newYear = new Date(today.getFullYear(), 11, 31); // Месяцы в JavaScript начинаются с 0, поэтому 11 - это декабрь

        // Количество пятниц
        let fridaysRemaining = 0;

        // Проход по дням до Нового Года
        while (today <= newYear) {
            if (today.getDay() === 5) { // Пятница - это день недели 5
                fridaysRemaining++;
            }
            today.setDate(today.getDate() + 1); // Переходим на следующий день
        }

        // Выводим результат на страницу
        document.getElementById("fridaysCount").innerText = fridaysRemaining;
    }

    // Запускаем функцию после загрузки страницы
    window.onload = countFridaysUntilNewYear;
</script>