@using WebPortalEverthing.Models.LoadTesting
@model List<MetricViewModel>

@{
    Layout = "~/Views/Shared/LoadTesting/_LayoutLoadTesting.cshtml";
}

<div class="content">
    <div class="discription-tipes">
        @foreach( var metric in Model )
        {
            <div class="discription-type">
                <div class="type-name">@metric.Name</div>
                @*Указать экшен, который будет вызван при отправке формы*@
                <form action="/LoadTesting/UpdateMetric" method="post">
                    <input type="hidden" name="id" value="@metric.Id" />
                    <input type="text" name="name" value="@metric.Name" />
                    <input type="hidden" name="guid" value="@metric.Guid" />
                    <input type="text" name="throughput" value="@metric.Throughput" />
                    <input type="text" name="average" value="@metric.Average" />
                    <input type="submit" value="Update" />
                </form>
                <div class="type-guid">GUID : @metric.Guid</div>
                <div class="type-container">
                    <img src="~/images/LoadTesting/photo_2024-07-15_09-13-16.jpg" alt="type1" />
                </div>
                <div class="additional-info">
                    @if( Model != null && Model.Count > 0 )
                    {
                        <span class="tag">скорость обработки (Throughput): @metric.Throughput </span>
                    } else
                    {
                        <span class="tag">Данные отсутствуют</span>
                    }
                    <span class="tag">среднее время отклика (Average): @metric.Average</span>
                    <span class="tag">Creator: @metric.CreatorName</span>
                    <span class="tag">Type of Load: @metric.LoadVolumeName</span>
                </div>
                @if( metric.CanDelete )
                {
                    <a href="/LoadTesting/RemoveByGuid?Guid=@metric.Guid">Delete Guid</a>
                    <a href="/LoadTesting/RemoveById?id=@metric.Id">Delete Id</a>
                }
            </div>
        }

        <!-- Закрытие блока .discription-tipes -->
    </div>
</div>