@using WebPortalEverthing.Models.LoadTesting
@model LoadTestingContentView1

@{
    Layout = "~/Views/Shared/LoadTesting/_LayoutLoadTesting.cshtml";
}

<div class="content">
    <div class="discription-tipes">
        <div class="discription-type">
            <div class="type-name">@Model.Metrics[0].Name</div>
            <div class="type-guid">GUID : @Model.Metrics[0].GUID</div>
            <div class="type-container">
                <img src="~/images/LoadTesting/photo_2024-07-15_09-13-16.jpg" alt="type1" />
            </div>
            <div class="additional-info">
                @if( Model.Metrics != null && Model.Metrics.Count > 0 )
                {
                    <span class="tag">скорость обработки (Throughput): @Model.Metrics[0].Throughput </span>
                } else
                {
                    <span class="tag">Данные отсутствуют</span>
                }
                <span class="tag">среднее время отклика (Average): @Model.Metrics[0].Average</span>
            </div>
        </div>
        <div class="discription-type">
            <div class="type-name">@Model.Metrics[1].Name</div>
            <div class="type-guid">GUID : @Model.Metrics[1].GUID</div>
            <div class="type-container">
                <img src="~/images/LoadTesting/photo_2024-10-18_22-57-53.jpg" alt="type2" />
            </div>
            <div class="additional-info">
                <span class="tag">скорость обработки (Throughput): @Model.Metrics[1].Throughput</span>
                <span class="tag">среднее время отклика (Average): @Model.Metrics[1].Average</span>
            </div>
        </div>
        <div class="discription-type">
            <div class="type-name">@Model.Metrics[2].Name</div>
            <div class="type-guid">GUID : @Model.Metrics[2].GUID</div>
            <div class="type-container">
                <img src="~/images/LoadTesting/photo_2024-10-18_22-58-01.jpg" alt="type3" />
            </div>
            <div class="additional-info">
                <span class="tag">скорость обработки (Throughput): @Model.Metrics[2].Throughput</span>
                <span class="tag">среднее время отклика (Average): @Model.Metrics[2].Average</span>
            </div>
        </div>
    </div>
    <!-- Закрытие блока .discription-tipes -->
</div>