@using WebPortalEverthing.Models.LoadTesting
@model MetricCreationViewModel

@{
    Layout = "~/Views/Shared/LoadTesting/_LayoutLoadTesting.cshtml";
}

<form method="post">
    <div class="create-profile-form">
        <div class="title">Введите данные профайла</div>
        <div class="input-container">
            @Html.TextBoxFor(m => m.Name, new { placeholder = "Name" })
            @Html.ValidationMessageFor(x => x.Name)

            @*   @Html.TextBoxFor(m => m.Throughput, new { placeholder = "Throughput" })   *@
            @Html.TextBoxFor(m => m.Throughput, new { placeholder = "Throughput", @type = "number", step = "0.01" })

            @Html.ValidationMessageFor(x => x.Throughput)

            @*   @Html.TextBoxFor(m => m.Average, new { placeholder = "Average" }) *@
            @Html.TextBoxFor(m => m.Average, new { placeholder = "Average", @type = "number", step = "0.01" })

            @Html.ValidationMessageFor(x => x.Average)

            <button type="submit">Создать</button>
        </div>
    </div>
</form>