@using WebPortalEverthing.Models.LoadTesting
@model MetricCreationViewModel

@{
    Layout = "~/Views/Shared/LoadTesting/_LayoutLoadTesting.cshtml";
}

<form method="post">
    <div class="create-profile-form">
        <div class="title">Введите данные профайла</div>
        <div class="input-container">
            @Html.TextBoxFor(m => m.Name, new { placeholder = "Name" })
            @Html.ValidationMessageFor(x => x.Name)

            @Html.TextBoxFor(m => m.ThroughputInput, new { placeholder = "Throughput", @type = "text" })
            @Html.ValidationMessageFor(x => x.ThroughputInput)

            @Html.TextBoxFor(m => m.AverageInput, new { placeholder = "Average ", @type = "text", })
            @Html.ValidationMessageFor(x => x.AverageInput)

            <button type="submit">Создать</button>
        </div>
    </div>
</form>
