@using WebPortalEverthing.Models.LoadTesting.Profile
@model LoadUserProfileViewModel

@{
    Layout = "~/Views/Shared/LoadTesting/_LayoutLoadTesting.cshtml";
}


<div class="load-user-profile">
    <div>
        <h1>@Model.UserName</h1>
    </div>
    <div>
        Avatar:
        <img class="avatar" src="@Model.AvatarUrl" />
    </div>
    <div>
        <form action="/images/LoadTesting/" method="post" enctype="multipart/form-data">
            <input type="file" name="avatar" />
            <button type="submit">Обновить аватар</button>
        </form>
    </div>

    <div class="loadVolumes-profile">
        Load Volume:
        @foreach( var loadVolume in Model.LoadValumes )
        {
            <span class="@(loadVolume.IsCreatedWithСharacter ? "special-load-volume" : "")">@loadVolume.Name</span> @*класс стиля*@
        }
    </div>
    <div>
        Metrics:
        <div class="metrics">
            @foreach( var metric in Model.Metrics )
            {
                <div class="metric">
                    <div class="metric-name">@metric.Name</div>
                    <div class="metric-throughput">@metric.Throughput</div>
                    <div class="metric-average">@metric.Average</div>

                </div>
            }
        </div>
    </div>

</div>
