@using WebPortalEverthing.Models.CoffeShop
@using WebPortalEverthing.Localizations
@model List<CoffeViewModel>
@{
    Layout = "~/Views/Shared/CoffeLayout/_LayoutCoffe.cshtml";
}


<div class="content">
    <div class="catalog-filter">
        <div class="menu">
            <span class="catalog">@Coffe.Coffe_Filter</span>
            <div class="catalog-filter-item">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                @Coffe.Coffe_Filter_Cost
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <form action="#" method="post">
                                <div class="accordion-body">
                                    <label for="customRange2" class="form-label">
                                        @Coffe.Coffe_Filter_Price: <span id="rangeValue">30</span> $
                                    </label>
                                    <input type="range" name="form-range" min="1" max="100" id="customRange2" value="50" />
                                    <button type="submit" class="btn btn-primary">C</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="catalog-filter-item">
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                            @Coffe.Coffe_Brand
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
                        <div class="accordion-body">
                            <div class="catalog-filter-block">
                                    <ul class="tags">
                                        @foreach (var brand in Model)
                                        {
                                            <li>
                                                <input type="radio" id="@brand.Brand" name="brend-type" class="filter-radio" />
                                                <label for="@brand.Brand">@brand.Brand</label>
                                            </li>
                                        }
                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        @foreach (var coffe in Model)
        {
            <div class="product">
                <div class="product-wrap">
                    <div class="product-img">
                        <a href="#"><img src="@coffe.Url" alt="coffe" /></a>
                    </div>
                    <div class="product-content">
                        <span class="product-name"> @coffe.Coffe </span>
                        <span class="product-price"> @coffe.Cost $</span>
                    </div>
                    <div class="product-bottom">
                        <button type="submit" class="product-button">
                            @Coffe.Coffe_Buy
                        </button>
                        <button type="submit" class="bag-product-button">
                            @Coffe.Coffe_Cart
                        </button>
                    </div>
                    <div class="sales">      
                    </div>
                </div>
            </div>
        }
    </div>
</div>