@using WebPortalEverthing.Models.CoffeShop
@using WebPortalEverthing.Localizations
@model List<CoffeViewModel>
@{
    Layout = "~/Views/Shared/CoffeLayout/_LayoutCoffe.cshtml";
}

@section Scripts {
    <script src="~/js/CoffeShop/Coffe.js"></script>
}



<div class="content">
    <div class="catalog-filter">
        <div class="menu">
            <span class="catalog">@Coffe.Coffe_Filter</span>
            <div class="custom-accordion">
                <div class="custom-accordion-item open">
                    <h2 class="custom-accordion-header">
                        <button class="custom-accordion-toggle" type="button">
                            @Coffe.Coffe_Filter_Cost
                        </button>
                    </h2>
                    <div class="custom-accordion-content">
                        <form action="#" method="post">
                            <div class="custom-accordion-body">
                                <label for="customRange2" class="custom-label">
                                    @Coffe.Coffe_Filter_Price: <span id="rangeValue">30</span> $
                                </label>
                                <input type="range" name="form-range" min="1" max="100" id="customRange2" value="50" />
                                <button type="submit" class="btn btn-primary">C</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="custom-accordion">
                <div class="custom-accordion-item open">
                    <h2 class="custom-accordion-header">
                        <button class="custom-accordion-toggle" type="button">
                            @Coffe.Coffe_Brand
                            <span class="custom-accordion-arrow"></span>
                        </button>
                    </h2>
                    <div class="custom-accordion-content">
                        <div class="accordion-body">
                            <div class="catalog-filter-block">
                                <ul class="tags">
                                    @foreach (var brandName in Model.FirstOrDefault()?.BrandNames ?? new List<string>())
                                    {
                                        <li>
                                            <input type="radio" id="@brandName" name="brend-type" class="filter-radio" />
                                            <label for="@brandName">@brandName</label>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content">
        @foreach (var coffe in Model)
        {
            <div class="product">
                <div class="product-wrap">
                    <div class="product-img">
                        <a href="#"><img src="@coffe.Url" alt="coffe" /></a>
                    </div>
                    <div class="product-content">
                        <span class="product-name"> @coffe.Coffe </span>
                        <span class="product-price"> @coffe.Cost $</span>
                    </div>
                    <div class="product-bottom">
                        <button type="submit" class="product-button">
                            @Coffe.Coffe_Buy
                        </button>
                        <button type="submit" class="bag-product-button">
                            @Coffe.Coffe_Cart
                        </button>
                    </div>
                    <div class="sales">
                    </div>
                </div>
            </div>
        }
    </div>
</div>