@using WebPortalEverthing.Models.CoffeShop;
@model List<CoffeViewModel>

@{
    Layout = "~/Views/Shared/CoffeLayout/_LayoutCoffe.cshtml";
}

@section Scripts {
    <script src="~/js/CoffeShop/Index.js"></script>
}

<div class="main-page">
    <h1>
        Admin panel
    </h1>

    <div>
        <a class="btn btn-outline-info mt-2" href="/Brand">
            Brands Info
        </a>
    </div>
    <div class="shop-info-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Сoffe</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Creator</th>
                    <th scope="col">
                        Img <a class="btn btn-outline-primary" href="/CoffeShop/Create">
                            C
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var coffe in Model)
                {
                    <tr class="coffe-object">
                        <th scope="row">
                            @if (coffe.CanDeleteOrUpdate)
                            {
                                <a class="object-delete" href="#" data-id="@coffe.Id">
                                    D
                                </a>
                            } @coffe.Id
                        </th>
                        <td scope="row">
                            <div class="table-block">
                                <div class="view-mode">
                                    @coffe.Coffe
                                </div>
                                <div class="edit-mode">
                                    <button type="button" class="close-edit-button">X</button>
                                    <input class="coffe-id" type="hidden" name="id" value="@coffe.Id" />
                                    <input class="new-coffe-name" name="name" value="@coffe.Coffe" />
                                    @if (coffe.CanDeleteOrUpdate)
                                    {
                                        <button type="button" class="update-coffe-button">U</button>
                                    }
                                </div>
                            </div>
                        </td>
                        <td scope="row">
                            <form action="/CoffeShop/UpdateCost" method="post">
                                <input type="hidden" name="id" value="@coffe.Id" />
                                <input name="cost" value="@coffe.Cost" />
                                @if (coffe.CanDeleteOrUpdate)
                                {
                                    <button type="submit" class="update-coffe-button">U</button>
                                }
                            </form>
                        </td>
                        <td scope="row">
                            <span>@coffe.Brand</span>
                        </td>
                        <td scope="row">
                            <span>@coffe.CreatorName</span>
                        </td>
                        <td scope="row">
                            <img class="admin-img" src="@coffe.Url" alt="coffe" />
                            <form action="/CoffeShop/UpdateUrl" method="post">
                                <input type="hidden" name="id" value="@coffe.Id" />
                                <input name="url" />
                                @if (coffe.CanDeleteOrUpdate)
                                {
                                    <button type="submit" class="update-coffe-button">U</button>
                                }
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>     