@using WebPortalEverthing.Models.CoffeShop;
@model List<CoffeViewModel>
@{
    Layout = "~/Views/Shared/CoffeLayout/_LayoutCoffe.cshtml";
}

<div class="main-page">
    <h1>
        Admin panel
    </h1>

    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Сoffe</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Brand</th>
                    <th scope="col">
                        Img <a class="btn btn-outline-primary" href="/CoffeShop/Create">
                            C
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var coffe in Model)
                {
                    <tr>
                        <th scope="row">
                            <a class="btn btn-outline-danger" href="/CoffeShop/Delete?id=@coffe.Id">
                                D
                            </a> @coffe.Id
                        </th>
                        <td scope="row">
                            <form action="/CoffeShop/UpdateCoffe" method="post">
                                <input type="hidden" name="id" value="@coffe.Id" />
                                <input name="name" value="@coffe.Coffe" />
                                <button type="submit" class="btn btn-outline-success">U</button>
                            </form>
                        </td>
                        <td scope="row">
                            <form action="/CoffeShop/UpdateCost" method="post">
                                <input type="hidden" name="id" value="@coffe.Id" />
                                <input name="cost" value="@coffe.Cost" />
                                <button type="submit" class="btn btn-outline-success">U</button>
                            </form>
                        </td>
                        <td scope="row">
                            <form action="/CoffeShop/UpdateBrand" method="post">
                                <input type="hidden" name="id" value="@coffe.Id" />
                                <input name="brand" value="@coffe.Brand" />
                                <button type="submit" class="btn btn-outline-success">U</button>
                            </form>
                        </td>
                        <td scope="row">
                            <img class="admin-img" src="@coffe.Url" alt="coffe" />
                            <form action="/CoffeShop/UpdateUrl" method="post">
                                <input type="hidden" name="id" value="@coffe.Id" />
                                <input name="image" />
                                <button type="submit" class="btn btn-outline-success">U</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>     