@using WebPortalEverthing.Models.CoffeShop.Profile
@using WebPortalEverthing.Services
@using WebPortalEverthing.Localizations
@inject AuthService authService
@model ProfileViewModel

@{
    Layout = "~/Views/Shared/CoffeLayout/_LayoutCoffe.cshtml";
}

@section Scripts {
    <script src="~/js/CoffeShop/Profile.js"></script>
}

<div class="profile">
    <div>
        <h1>@Model.UserName</h1>
    </div>

    <div>
        @Coffe.Profile_Avatar:
        <img class="avatar" src="@Model.ProfileAvatar" />
    </div>
    <div>
        <form action="/CoffeShop/UpdateProfileAvatar" method="post" enctype="multipart/form-data">
            <input type="file" name="avatar" />
            <button type="submit">@Coffe.Profile_Update_Avatar</button>
        </form>
        <form action="/CoffeShop/SetDefaultProfileAvatar" method="post" enctype="multipart/form-data">
            <button type="submit">@Coffe.Profile_Default_Avatar</button>
        </form>
    </div>
    @if (authService.IsAdmin())
    {
        <div>
            <button type="button" class="list-of-coffe">
                @Coffe.Profile_Created
            </button>
            :
            <div class="all-coffe-user">
                @foreach (var coffe in Model.Coffe)
                {
                    <div class="coffe">
                        <div class="name">@coffe.Name</div>
                        <div class="image-container">
                            <img src="@coffe.Url" alt="coffe" />
                        </div>
                    </div>
                }
            </div>
        </div>
    }

    <div class="cart-container">
        <h2>@Coffe.Profile_Cart</h2>
        @foreach (var item in Model.CoffeInCart)
        {
            <div class="cart-item">
                <img src="@item.Url" alt="@item.Coffe" class="cart-img" />
                <div class="cart-details">
                    <span class="cart-name">@item.Coffe</span>
                    <span class="cart-price">@(@item.Cost * @item.Quantity) $</span>
                    <span class="cart-quantity">Количество: @item.Quantity</span>
                </div>
                <input type="hidden" name="coffeId" value="@item.Id" />
                <button class="cart-remove-btn">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        }
    </div>



</div>