@using WebPortalEverthing.Models.Ecology
@model PostViewModel

@{
    Layout = "~/Views/Shared/_LayoutEcology.cshtml";
}

@section Scripts {
    <script src="~/js/Ecology/PostCreationForm.js"></script>
    <link href="~/css/Ecology/postCreation.css" rel="stylesheet" />
}

<div class="add-post">
    <!-- Кнопка для открытия/закрытия формы -->
    <button id="toggleFormBtn" class="open-modal-btn">Add Post</button>
    <!-- Форма для создания постов -->
    <div id="postForm" class="post-form" style="display: none;">
        <form method="post" action="/Ecology/EcologyChat" onsubmit="closeForm()">
            <div>
                <label for="imageUrl">Enter image URL:</label>
                <input type="text" id="imageUrl" name="Url" value="@Model.Posts.FirstOrDefault()?.Url" />
                @Html.ValidationMessageFor(model => model.Posts.FirstOrDefault().Url, "", new { @class = "text-danger" })
            </div>
            <div>
                <label asp-for="Posts.FirstOrDefault().ImageFile">Upload Image</label>
                <input type="file" asp-for="Posts.FirstOrDefault().ImageFile" />
                @Html.ValidationMessageFor(model => model.Posts.FirstOrDefault().ImageFile, "", new { @class = "text-danger" })
            </div>
            @if (ViewData.ModelState["Url"]?.Errors.Count > 0 || ViewData.ModelState["ImageFile"]?.Errors.Count > 0)
            {
            <div class="text-danger">
                <span>Please provide either an image URL or upload an image, not both.</span>
            </div>
            }
            @if (ViewData.ModelState[""].Errors.Count > 0)
            {
            <div class="text-danger">
                <span>Please provide either an image URL or upload an image.</span>
            </div>
            }
            <div>
                <label for="imageText">Enter text:</label>
                <input type="text" id="imageText" name="Text" value="@Model.Posts.FirstOrDefault()?.Text" />
                @Html.ValidationMessageFor(model => model.Posts.FirstOrDefault().Text)
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

@if (Model.Ecologies != null && Model.Ecologies.Count > 0)
{
<ul>
    @foreach (var ecology in Model.Ecologies)
    {
    <li>
        <div class="post-header">
            <img src="@ecology.UserAvatar" alt="User Icon" class="user-icon"/> 
            <span>@ecology.UserName</span> 
            <button class="edit-btn">•••</button>
        </div>
        <img src="@ecology.ImageSrc" class="post" alt="Picture"/>
        <p>@ecology.Texts.FirstOrDefault()</p>

        @if (User.Identity?.Name == @ecology.UserName)
        {
        <div class="post-actions">
            <span class="dots">•••</span>
            <div class="actions-menu">
                <a href="@Url.Action("UpdatePost", new { id = ecology.PostId, url = ecology.ImageSrc, text = ecology.Texts.FirstOrDefault() })">Edit</a>
                @if (ecology.CanDelete)
                {
                    <a class="tag" href="/Ecology/Remove?id=@ecology.PostId">Delete</a>
                }
            </div>
        </div>
        }

        <div class="comments">
            <h4>Comments</h4>
            @foreach (var comment in ecology.Comments)
            {
            <div class="comment">
                <img src="@comment.UserAvatar" alt="User Icon" class="user-icon" />
                <span>@comment.UserName</span>
                <p>@comment.CommentText</p>
            </div>
            }
            <form method="post" action="/Ecology/AddComment">
                <input type="hidden" name="postId" value="@ecology.PostId" />
                <textarea name="commentText" placeholder="Enter your comment"></textarea>
                <button type="submit">Add Comment</button>
            </form>
        </div>
    </li>
    }
</ul>
}

<div id="editForm" style="display:none;">
    <form method="post" action="/Ecology/UpdatePost">
        <input type="hidden" id="editId" name="Id" />
        <label for="editImageUrl">Edit image URL:</label>
        <input type="text" id="editImageUrl" name="Url" />
        <div>
            <label for="editImageText">Edit text:</label>
            <input type="text" id="editImageText" name="Text" />
        </div>
        <button type="submit">Save changes</button>
    </form>
</div>
