@using WebPortalEverthing.Models.GameStore

@model GameViewModel

@{
    Layout = "~/Views/Shared/_LayoutGameStore.cshtml";
}


<div class="title">
    <div class="title-text">Hello! @Model.UserName</div>
    <div class="title-paragraph">
        Today @Model.Date and Game of Day @Model.NameGame
    </div>
    <div class="title-paragraph">
        An interesting fact about today: @Model.FactAboutDate
    </div>
    <div class="title-paragraph">
        Joke: @Model.Joke
    </div>
</div>

