@using Enums.Users
@using WebPortalEverthing.Services
@using WebPortalEverthing.Localizations
@inject AuthService authService
@inject UserService userService

<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MaxWell Coffe</title>
    <link href="~/css/Bootstrap/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/CoffeShop/reset.css" />
    <link rel="stylesheet" href="~/css/CoffeShop/style.css" />
    <link rel="stylesheet" href="~/css/CoffeShop/button.css" />
    <link rel="stylesheet" href="~/css/CoffeShop/footer.css" />
    <link rel="stylesheet" href="~/css/CoffeShop/burger.css" />
    <link rel="stylesheet" href="~/css/CoffeShop/accordion.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Styles", false)
    @RenderSection("Scripts", false)
</head>
<body>
    <header class="page-header">
        <div class="logo">
            <a href="/CoffeShop/Coffe">
                <img src="~/images/CoffeShop/coffeLogo.jpg" alt="logo" />
            </a>
        </div>
        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" hidden />
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>
            <ul class="header-menu">
                <li><a class="menu__item" href="/">@Coffe.Layout_ToPortal</a></li>
                @if (authService.IsAdmin())
                {
                    <li><a class="menu__item" href="/CoffeShop">Admin</a></li>
                }
                <li><a class="menu__item" href="#">@Coffe.Layout_Catalog</a></li>
                <li><a class="menu__item" href="/CoffeShop/Coffe">@Coffe.Layout_Coffe</a></li>
                <li><a class="menu__item" href="#">@Coffe.Layout_Equipment</a></li>
                <li><a class="menu__item" href="/CoffeShop/AboutUs">@Coffe.Layout_Reviews</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                @Coffe.Coffe_Language
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/CoffeShop/UpdateLocale?language=@Language.Ru">Русский</a></li>
                <li><a class="dropdown-item" href="/CoffeShop/UpdateLocale?language=@Language.En">English</a></li>
            </ul>
        </div>
        <div class="header-actions">
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                <div class="logo">
                    <a href="/CoffeShop/UserProfile">
                        <img src="@userService.GetAvatar()" alt="User profile" />
                    </a>
                </div>
            }
            else
            {
                <div class="logo">
                    <a href="#"><img src="~/images/CoffeShop/no_auth_user.png" alt="User profile" /></a>
                </div>
            }
        </div>
    </header>
    @RenderBody()
    <footer>
        <div class="footer">
            <div class="row">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
            <div class="row">
                <ul>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Career</a></li>
                </ul>
            </div>
            <div class="row">
                Copyright © 2024 IWell. All rights reserved.
            </div>
        </div>
    </footer>
</body>
<script src="~/js/Bootstrap/bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

