@using Enums.Users
@using WebPortalEverthing.Services
@using WebPortalEverthing.Localizations
@inject AuthService authService
@inject UserService userService
@inject CartService cartService

<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MaxWell Coffe</title>
    <link href="~/css/Bootstrap/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/CoffeShop/reset.css" />
    <link rel="stylesheet" href="~/css/CoffeShop/style.css" />
    <link rel="stylesheet" href="~/css/CoffeShop/button.css" />
    <link rel="stylesheet" href="~/css/CoffeShop/footer.css" />
    <link rel="stylesheet" href="~/css/CoffeShop/burger.css" />
    <link rel="stylesheet" href="~/css/CoffeShop/accordion.css" />
    <link rel="stylesheet" href="~/css/CoffeShop/profile.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Styles", false)
    @RenderSection("Scripts", false)
</head>
<body>
    <header class="page-header">
        <div class="logo">
            <a href="/CoffeShop/Coffe">
                <img src="~/images/CoffeShop/coffeLogo.jpg" alt="logo" />
            </a>
        </div>
        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" hidden />
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>
            <ul class="header-menu">
                <li><a class="menu__item" href="/">@Coffe.Layout_ToPortal</a></li>
                @if (authService.IsAdmin())
                {
                    <li><a class="menu__item" href="/CoffeShop">@Coffe.Layout_Admin</a></li>
                }
                <li><a class="menu__item" href="/CoffeShop/Coffe">@Coffe.Layout_Coffe</a></li>
                <li><a class="menu__item" href="/CoffeShop/AboutUs">@Coffe.Layout_Reviews</a></li>
            </ul>
        </div>
        <div class="custom-dropdown">
            <button class="dropdown-button">
                @Coffe.Coffe_Language
            </button>
            <ul class="dropdown-list">
                <li><a href="/CoffeShop/UpdateLocale?language=@Language.Ru">Русский</a></li>
                <li><a href="/CoffeShop/UpdateLocale?language=@Language.En">English</a></li>
            </ul>
        </div>
        <div>
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                <a class="nav-link text-dark logout-link" asp-area="" asp-controller="Auth" asp-action="Logout">@Home.Home_Logout</a>
            }
        </div>
        <div class="header-actions">
            @if (User.Identity?.IsAuthenticated ?? false)
            {
                <div class="cart-group">
                    <a href="/CoffeShop/UserProfile" class="cart-link">
                        @Coffe.Layout_Thing
                        <span class="cart-count">@cartService.GetCartItemCount((int)authService.GetUserId())</span>
                    </a>
                </div>
                <div class="logo">
                    <a href="/CoffeShop/UserProfile">
                        <img src="@userService.GetAvatar()" alt="User profile" />
                    </a>
                </div>
            }
            else
            {
                <div class="logo">
                    <a href="#"><img src="~/images/CoffeShop/no_auth_user.png" alt="User profile" /></a>
                </div>
            }
        </div>
    </header>
    @RenderBody()
    <footer>
        <div class="footer">
            <div class="row">
                <ul>
                    <li><a href="#">@Coffe.Footer_Contact</a></li>
                    <li><a href="#">@Coffe.Footer_Service</a></li>
                    <li><a href="#">@Coffe.Footer_Policy</a></li>
                    <li><a href="#">@Coffe.Footer_Career</a></li>
                </ul>
            </div>
            <div class="row">
                @Coffe.Footer_Copyright © @DateTime.Now.Year IWell. @Coffe.Footer_Rights.
            </div>
        </div>
    </footer>
</body>
<script src="~/js/CoffeShop/script.js"></script>
<script src="~/js/Bootstrap/bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

