@using WebPortalEverthing.Models.MoviePoster

@model List<MovieViewModel>
@{
    Layout = "~/Views/Shared/_LayoutMoviePoster.cshtml";
}

@section Scripts{
    <script src="~/js/MoviePoster/AllPosters.js"></script>
}

<div class="movies">
    @foreach (var poster in Model)
    {
        <div class="movie">
            <div class="name">
                <form method="post" action="/MoviePoster/UpdateName">
                    <input name="id" value="@poster.Id" type="hidden" />
                    <input name="newName" value="@poster.Name" />
                    <button type="submit">upd</button>
                </form>
            </div>
            <div class="image-container">
                <img src="@poster.ImageSrc" alt="movie" />
            </div>
            <div class="additional-info">
                <form method="post" action="/MoviePoster/UpdateImage">
                    <input name="id" value="@poster.Id" type="hidden" />
                    <input name="url" />
                    <button type="submit">new image</button>
                    <button type="button" class="toggle-tags">...</button>
                </form>
                <div class="poster-tag-container">
                    <span class="tag">@poster.CreatorName</span>
                    <span class="tag">@poster.FilmDirector</span>
                    @foreach (var tag in poster.Tags)
                    {
                        <span class="tag">@tag</span>
                    }
                    @if (poster.CanDelete)
                    {
                        <a class="tag" href=" /MoviePoster/Remove?id =@poster.Id">Delete</a>
                    }
                </div>
            </div>
        </div>
    }
</div>
