@using WebPortalEverthing.Models.AnimeGirl
@model AllGirlsViewModel
@{
    Layout = "~/Views/Shared/_LayoutAnime.cshtml";
}

@section Scripts {
    <script src="~/js/AnimeGirl/AllGirls.js"></script>
}

<div class="pagginator">
    @if (!Model.Girls.IsStartOfPageList)
    {
        <a href="#" data-page="@(1)" class="page @(1 == Model.Girls.Page ? "active": "")">@(1)</a>
        <span>..</span>
    }
    
    @foreach (var page in Model.Girls.Pages)
    {
        <a href="#" data-page="@(page)" class="page @(page == Model.Girls.Page ? "active": "")">@(page)</a>
    }

    @if (!Model.Girls.IsEndOfPageList)
    {
        <span>..</span>
        <a href="#" data-page="@(Model.Girls.LastPage)" class="page @(Model.Girls.LastPage == Model.Girls.Page ? "active": "")">@(Model.Girls.LastPage)</a>
    }
    
    <select name="perPage">
        <option value="3">3</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
</div>

<div class="order-container">
    <button class="order" data-order="UsersWhoLikeIt.Count" type="button">Order by Like</button>
    <button class="order" data-order="Name" type="button">Order by Name</button>
    <button class="order" data-order="Manga.Id" type="button">Order by Manga</button>
    <button class="order" data-order="Id" type="button">Order by Default</button>
</div>

<div class="girls">
    <div class="girl template">
        <div class="name">
            <div class="view-mode">
                ***
            </div>
            <div class="edit-mode">
                <input class="girl-id" name="id" value="0" type="hidden" />
                <input class="new-girl-name" name="newName" value="***" />
                <button class="update-girl-name-button" type="button">upd</button>
            </div>
        </div>
        <div class="image-container">
            <img src="***" alt="girl" />
        </div>
        <div class="additional-info">
            <form method="post" action="/AnimeGirl/UpdateImage">
                <input name="id" value="0" type="hidden" />
                <input name="url" />
                <button type="submit">new image</button>
                <button type="button" class="toggle-tags">toggle tags</button>
            </form>
            <div class="tag-container">
                <span class="tag creator">***</span>
                <span class="tag manga">***</span>
                <a class="tag delete" href="#" data-id="***">Delete</a>
            </div>
        </div>
    </div>
    @foreach (var girl in Model.Girls.Items)
    {
        <div class="girl" data-id="@girl.Id">
            <div class="name">
                <div><i class="icon @(girl.IsLiked ? "like-pushed" : "like")"></i></div>
                <div class="view-mode">
                    @girl.Name [@girl.LikeCount]
                </div>
                <div class="edit-mode">
                    <input class="girl-id" name="id" value="@girl.Id" type="hidden" />
                    <input class="new-girl-name" name="newName" value="@girl.Name" />
                    <button class="update-girl-name-button" type="button">upd</button>
                </div>
            </div>
            <div class="image-container">
                <img src="@girl.ImageSrc" alt="girl" />
            </div>
            <div class="additional-info">
                <form method="post" action="/AnimeGirl/UpdateImage">
                    <input name="id" value="@girl.Id" type="hidden" />
                    <input name="url" />
                    <button type="submit">new image</button>
                    <button type="button" class="toggle-tags">toggle tags</button>
                </form>
                <div class="tag-container">
                    <span class="tag">@girl.CreatorName</span>
                    <span class="tag">@girl.MangaName</span>
                    @foreach (var tag in girl.Tags)
                    {
                        <span class="tag">@tag</span>
                    }
                    <span class="tag">@girl.LikeCount Likes</span>
                    @if (girl.CanDelete)
                    {
                        <a class="tag delete" href="#" data-id="@girl.Id">Delete</a>
                    }
                </div>
            </div>
        </div>
    }

    <div class="girl create">
        <div class="name">
            <div class="edit-mode">
                <input class="new-girl-name" name="newName" placeholder="girl name" />
            </div>
        </div>
        <div class="image-container">
            <img src="/images/AnimeGirl/avatar-default.webp" alt="girl" />
        </div>
        <div class="additional-info">
            <input class="new-girl-url" name="url" placeholder="girl url" />
            <select class="manga-id">
                @foreach (var manga in Model.Mangas)
                {
                    <option value="@manga.Id">@manga.Title</option>
                }
            </select>
            <button class="create-girl-button" type="button">create new girl</button>
        </div>
    </div>
</div>

<div class="pagginator">
    @foreach (var page in Model.Girls.Pages)
    {
        <a href="/AnimeGirl/AllGirls?page=@(page)&perPage=@Model.Girls.PerPage"
            class="page @(page == Model.Girls.Page ? "active": "")">@(page)</a>
    }
</div>