@using WebPortalEverthing.Models.AnimeGirl
@model List<GirlViewModel>
@{
    Layout = "~/Views/Shared/_LayoutAnime.cshtml";
}

@section Scripts {
    <script src="~/js/AnimeGirl/AllGirls.js"></script>
}

<div class="girls">
    @foreach (var girl in Model)
    {
        <div class="girl">
            <div class="name">
                <form method="post" action="/AnimeGirl/UpdateName">
                    <input name="id" value="@girl.Id" type="hidden" />
                    <input name="newName" value="@girl.Name" />
                    <button type="submit">upd</button>
                </form>
            </div>
            <div class="image-container">
                <img src="@girl.ImageSrc" alt="girl" />
            </div>
            <div class="additional-info">
                <form method="post" action="/AnimeGirl/UpdateImage">
                    <input name="id" value="@girl.Id" type="hidden" />
                    <input name="url" />
                    <button type="submit">new image</button>
                    <button type="button" class="toggle-tags">toggle tags</button>
                </form>
                <div class="tag-container">
                    <span class="tag">@girl.CreatorName</span>
                    <span class="tag">@girl.MangaName</span>
                    @foreach (var tag in girl.Tags)
                    {
                        <span class="tag">@tag</span>
                    }
                    @if (girl.CanDelete)
                    {
                        <a class="tag" href="/AnimeGirl/Remove?id=@girl.Id">Delete</a>
                    }
                </div>
            </div>
        </div>
    }
</div>
