@using Everything.Data.Interface.Enums
@using WebPortalEverthing.Models.Surveys

@model SurveyCreateViewModel

@{
    Layout = "~/Views/Shared/_LayoutSurveys.cshtml";
}

@section Scripts {
    <script src="~/js/Surveys/EditSurvey.js"></script>
}

<div class="main-content-title">
    <span>@(Model.Id == 0 ? "Создание нового" : "Редактирование") опроса</span>
</div>
<div class="question round-border template">
    <input class="question-id" value="***" type="hidden" />
    <div class="answer-option">
        <div>
            <select name="AnswerType" class="answer-type form-select form-select-sm">
                <option value="@AnswerType.TextString">Текст (строка)</option>
                <option value="@AnswerType.TextParagraph">Текст (абзац)</option>
            </select>
        </div>
        <div class="form-check form-switch">
            <input class="question-required form-check-input" type="checkbox">
            <label class="form-check-label">Обязательный вопрос</label>
        </div>
        <div>
            <button class="del-button btn btn-sm btn-danger" type="button">Удалить</button>
        </div>
    </div>
    <hr class="my-2">
    <div class="title">
        <input class="question-title form-control form-control-sm" type="text" />
    </div>
    <div class="control">
        <input class="ctrl-@AnswerType.TextString-template form-control form-control-sm" type="text" value="Краткий ответ" disabled />
        <textarea class="ctrl-@AnswerType.TextParagraph-template form-control form-control-sm" disabled>Развёрнутый ответ</textarea>
    </div>
</div>
<div>
    <form class="survey" method="post">
        <div class="round-border">
            <input id="survey-id" value="@Model.Id" type="hidden" />
            <div>
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.SurveyGroup.Id)
            </div>
            <div>
                <label>
                    Группа:
                    @Html.HiddenFor(x => x.SurveyGroup.Title)
                    @Html.DisplayTextFor(x => x.SurveyGroup.Title)
                </label>
            </div>
            <div>
                <label>
                    Название опроса
                    @Html.TextBoxFor(x => x.Title)
                    @Html.ValidationMessageFor(x => x.Title)
                </label>
            </div>
            <div>
                <label>
                    Описание
                    @Html.TextAreaFor(x => x.Description)
                    @Html.ValidationMessageFor(x => x.Description)
                </label>
            </div>
        </div>
        <div class="questions">
            @foreach (var question in Model.Questions)
            {
                @Html.Partial("Question", question)
            }
        </div>
        <div class="add-question round-border">
            <button id="add-button" class="btn btn-sm btn-secondary" type="button">Добавить вопрос</button>
        </div>
        <div class="actions">
            <button class="save-button btn btn-sm btn-success" type="submit">Сохранить</button>
        </div>
    </form>
</div>